[2015-06-15 13:37] mxab opened #9 "backslash nine ( \9 ) is not working"
Hi,
in the bootstrap css
[code]

I think it is a the same issue as described here on google code
https://code.google.com/p/closure-stylesheets/issues/detail?id=20

Any idea how to work around this without modify the source css?

[2015-06-15 13:44] iflan commented on #9
The CSS compiler is not designed to support hacks like this. Instead, the
preferred method is to target browsers with different generated stylesheets
using @if (...) { ... }. (We support the star hack for historical reasons.)

Ian

On Mon, Jun 15, 2015 at 3:37 PM, Max Bruchmann <notifications@github.com>
wrote:

[2015-06-15 14:00] mxab commented on #9
Ok, so the only thing I could do to process the source css and replace:
[code]
with
[code]
and then run the gss once with --define BROWSER_IE9 and once without the flag, I guess?

[2015-06-15 14:13] iflan commented on #9
That's the idea, yes. The goal is to have lean stylesheets for each
browser. Perhaps, as older, terrible, browsers die out, we won't even need
that.

Ian

On Mon, Jun 15, 2015 at 4:00 PM, Max Bruchmann <notifications@github.com>
wrote:

[2015-06-15 14:16] mxab commented on #9
cool thanks for the clarification
I guess also for know I simply kick out all "\9;" lines

[2015-06-15 14:16] #9 closed

[2015-06-19 20:13] mxab opened #10 "Parsing Execption when combining multiple media queries features"
The following media query produces a parsing exception
[code]
[code]
As far as I know it should be valid css.

[2015-06-25 09:55] iflan commented on #10
Can you reproduce this with the latest version from GitHub?

[2015-06-25 15:23] mxab commented on #10
yes I do

[2015-06-26 06:10] iflan commented on #10
Our `@media` parsing is a bit fragile. I'm not going to have time to look at this in the near future, so if you can narrow down the problem, that would help. Otherwise, I'll get to this in about three weeks.

[2015-06-26 06:38] mxab commented on #10
Ok will do, for starters here is the stacktrace
[code]

Don't get confused by the grade part in the callstack as I'm calling it from there

[2015-06-26 06:51] mxab commented on #10
I stumbled upon this problem when I wanted to rename the bootstrap css the ```@media screen and (color),(max-width: 60em)``` was simplified sample.

https://github.com/twbs/bootstrap/blob/master/dist/css/bootstrap.css#L6307

[2015-06-26 09:22] rikuayanokozy opened #11 "Generate Source Mapping Error when a property value contains comma"
**What steps will reproduce the problem?**
1.Clone the latest closure-stylesheets and compile
2.specify output-source-map when building gss

	java -jar build/closure-stylesheets.jar --allow-unrecognized-properties --output-renaming-map-format CLOSURE_UNCOMPILED --rename CLOSURE --output-renaming-map renaming_map.js --output-source-map test.source.map --output-file test.css test.gss

**What is the

[2015-06-26 11:54] iflan commented on #11
Excellent bug report. I will take a look.

[2015-06-28 14:06] rikuayanokozy opened #12 "Parameter source_map_output_level cannot be specified"
Parameter source_map_output_level cannot be specified.
I took a look at [ClosureCommandLineCompiler.java] (https://github.com/google/closure-stylesheets/blob/master/src/com/google/common/css/compiler/commandline/ClosureCommandLineCompiler.java#L132-L136), the following code caused issue:

The Option name does not starts with "--" so we unable to pass it to args4j.

I add double hash before paramet

[2015-06-29 07:46] rikuayanokozy commented on #12
https://github.com/google/closure-stylesheets/pull/13

[2015-09-08 07:28] twildawnight opened #14 "divide is locale sensitive"
The divide function seems locale sensitive.
On a computer with fr_FR as the locale (Windows 7 pro) the compiled CSS for say:

width: divide(BIG_MARGIN, 2);

Where BIG_MARGIN equals "25px" is "12,5px" (a comma). One would expect "12.5px" (a dot)

[2015-10-02 15:58] iflan commented on #12
Accepted pull request. This should be fixed.

[2015-10-02 15:58] #12 closed

[2015-10-02 16:48] iflan commented on #14
I've found the problem. In [`GssFunctions.java`](https://github.com/google/closure-stylesheets/blob/master/src/com/google/common/css/compiler/gssfunctions/GssFunctions.java#L648), we do:
[code]
to format the result. Instead, we should do:
[code]
I'll see if I can create a patch next week.

[2015-10-02 18:29] slavap opened #16 "GSS - conditional mixin"
There should be some way to process mixin parameters in conditional way, e.g.
@defmixin test(AAA) {
  @if (AAA == 5) {...}
  @else {...}
}

As simpler solution, may be selectFrom should be extended to be like Oracle decode() http://docs.oracle.com/cd/B19306_01/server.102/b14200/functions040.htm

[2015-10-02 18:30] slavap opened #17 "GSS - local variables in mixin"
It should be possible to declare and use local variable somehow in mixin.
Right now it's possible declare @def in mixin, BUT it will be global variable.
As workaround I can prefix it with mixin name to prevent names conflict, i.e. @def MIXIN_LOCAL 33; but it's very inconvenient.

[2015-10-02 19:40] twildawnight commented on #14
That's a good news. Thanks !

[2015-10-05 08:44] iflan commented on #16
Yes, we would definitely like to have this as a feature. It is just not built yet. If you're interested in developing it, let me know.

[2015-10-05 08:51] iflan commented on #17
Yeah, this is not awesome. There are several possible semantics for a `@def` in a `@mixin`, so if you have a proposition and are interested in implementing it, let me know.

[2015-10-05 08:55] iflan commented on #10
Thanks for the pointers. I'll take a look as this is clearly a bug.

[2015-10-06 17:06] iflan commented on #14
This is now fixed.

[2015-10-06 17:06] #14 closed

[2015-10-15 17:37] dbarnett opened #18 "Closure Stylesheets needs a linter"
A linter for closure stylesheets could detect a lot of simple style issues like unsorted `@requires`, whitespace conventions, etc.

Probably there would be some obvious problems to point out globally and some Google style guidelines documented at https://github.com/google/styleguide that could be enabled via a flag.

[2015-10-20 16:10] dbarnett opened #19 "Add README w/ examples"
The Project Home page at https://code.google.com/p/closure-stylesheets/ had a good summary of Closure Stylesheets' features, but github has no README and doesn't point to any equivalent documentation that I can find. Any reason not to convert the Project Home from code.google.com to a README.md?

[2015-10-20 17:50] iflan commented on #19
Porting all of the closure-stylesheets documentation here is one of the things on my TODO list. Since you brought it up, I'll try to get to it this Thursday.

[2015-10-20 17:52] iflan commented on #18
Yes, yes it does. Would you be willing to help out?

[2015-10-20 17:57] dbarnett commented on #18
If you could add some pointers here for how you'd recommend implementing it, it's not *impossible* I'd be able to help out.

[2015-10-20 18:06] iflan commented on #18
Awesome! :-)

I actually don't have any recommendation for how to implement it at the moment. Some of the linters that I've seen are just a bunch of regexps and they don't really care about understanding the code structure. Others try to leverage the power of a real parser to make more intelligent recommendations.

For the moment, because we have nothing, the bar for an initial linter would be pre

[2015-10-23 20:01] iflan opened #20 "Publish on Maven Central Repo"
Originally reported on Google Code with ID 1
[code]

Reported by `alex.objelean` on 2011-11-13 09:08:17

[2015-10-23 20:02] iflan opened #21 "The minification actually makes the stylesheet bigger."
Originally reported on Google Code with ID 2
[code]

Reported by `xxStrom` on 2011-11-15 02:44:40

[2015-10-23 20:02] iflan opened #22 "Default Mixin Argument Values"
Originally reported on Google Code with ID 3

[code]

Reported by `Zoramite` on 2011-11-15 20:38:49

[2015-10-23 20:02] iflan opened #23 "Import Mixins"
Originally reported on Google Code with ID 4

Ability to import mixins from another gss file.

For example, if the `borderRadius` mixin was defined in the `commonMixins.gss` file:

[code]

Reported by `Zoramite` on 2011-11-15 20:42:41

[2015-10-23 20:03] iflan opened #24 "@font-face Support"
Originally reported on Google Code with ID 5

[code]

Reported by `patrick.hawks` on 2011-11-21 17:33:40

[2015-10-23 20:03] #24 closed, assigned to iflan

[2015-10-23 20:03] iflan opened #25 "ant task for stylesheet clouser"
Originally reported on Google Code with ID 6

[code]

Reported by `songyunhui2008` on 2011-11-22 02:48:23

[2015-10-23 20:03] iflan opened #26 "Data-uri support"
Originally reported on Google Code with ID 7

[code]

Reported by `judo.ras` on 2011-11-30 07:18:03

[2015-10-23 20:03] iflan opened #27 "Allow setting OptimizeStrategy for a JobDescription"
Originally reported on Google Code with ID 8

[code]

Reported by `martin.grigorov` on 2011-12-01 14:45:14

[2015-10-23 20:03] #27 closed, assigned to iflan

[2015-10-23 20:03] iflan opened #28 "Extra color functions"
Originally reported on Google Code with ID 9

[code]

Reported by `Yves.Brissaud` on 2011-12-02 12:25:33

<hr>
- _Attachment: [extra_colors.patch](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-9/comment-0/extra_colors.patch)_

[2015-10-23 20:04] iflan opened #29 "Support for CSS Media Types"
Originally reported on Google Code with ID 10

[code]

Reported by `palam.c` on 2011-12-23 08:38:24

[2015-10-23 20:04] #29 closed, assigned to iflan

[2015-10-23 20:04] iflan opened #30 "Browser conditioning with short annotation"
Originally reported on Google Code with ID 11
[code]

Reported by `ThePigLovesYou` on 2012-02-02 10:29:58

[2015-10-23 20:04] iflan opened #31 "Typo in FileNotFoundException handler"
Originally reported on Google Code with ID 12
[code]

Reported by `rviscomi` on 2012-02-04 02:18:55

[2015-10-23 20:04] iflan opened #32 "Handle windows UTF8 BOM character"
Originally reported on Google Code with ID 13
[code]

Reported by `guido.tapia` on 2012-03-09 19:32:38

<hr>
 * *Attachment: [theme2.gss](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-13/comment-0/theme2.gss)*

[2015-10-23 20:04] iflan opened #33 "Please add support for text-justify CSS3 property"
Originally reported on Google Code with ID 14
[code]

Reported by `ltrabuco` on 2012-03-18 14:14:36

[2015-10-23 20:05] iflan opened #34 "Patch for /src/com/google/common/css/compiler/ast/Property.java"
Originally reported on Google Code with ID 15
[code]

Reported by `blub201087` on 2012-03-24 21:12:10

<hr>
 * *Attachment: [Property.java.patch](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-15/comment-0/Property.java.patch)*

[2015-10-23 20:05] iflan opened #35 "parser error for line like " background: qlineargradient(x1:1, y1:0, x2:0, y2:0, stop: 0 COLOR8, stop: 1 COLOR6);""
Originally reported on Google Code with ID 16
[code]

Reported by `machangan0514` on 2012-04-05 08:02:12

[2015-10-23 20:05] iflan opened #36 "ClosureCommandLineCompiler constructor protected but parameter class private"
Originally reported on Google Code with ID 17
[code]

Reported by `terciofilho` on 2012-04-12 00:12:13

[2015-10-23 20:05] iflan opened #37 "execute mixin in another mixin"
Originally reported on Google Code with ID 18

[code]

Reported by `randomailer` on 2012-05-04 07:18:31

[2015-10-23 20:05] iflan opened #38 "Unrecognized functions used outside of CSS declaration groups are not caught by static checks"
Originally reported on Google Code with ID 19
[code]

Reported by `cpeisert` on 2012-05-29 02:48:58

[2015-10-23 20:05] iflan opened #39 "Compiler does not handle backslashes properly"
Originally reported on Google Code with ID 20
[code]

Reported by `ori.schwartz` on 2012-05-30 17:58:08

[2015-10-23 20:05] iflan opened #40 "Closure-stylesheets not usable as a simple css minification tool: Too many failures due to IE specific hacks"
Originally reported on Google Code with ID 21
[code]

Reported by `oliver.siemoneit` on 2012-06-24 12:27:44

<hr>
 * *Attachment: [dijit.css](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-21/comment-0/dijit.css)*
 * *Attachment: [claro.css](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-21/comment-0/claro.css)*

[2015-10-23 20:05] iflan opened #41 "GSS syntax highlighting - eclipse plugin"
Originally reported on Google Code with ID 22

[code]

Reported by `hau12a1` on 2012-06-27 04:45:18

[2015-10-23 20:05] iflan opened #42 "use "stylesheets-20111230.jar" find a bug."
Originally reported on Google Code with ID 23
[code]

Reported by `weirhp` on 2012-06-27 06:47:59

[2015-10-23 20:05] iflan opened #43 "Problem using mixins or conditionals inside a rule."
Originally reported on Google Code with ID 24

[code]

Reported by `SeligArkin` on 2012-07-22 22:23:27

[2015-10-23 20:05] iflan opened #44 "Variable name is expected to be in uppercase only"
Originally reported on Google Code with ID 25
[code]

Reported by `nitu.mca` on 2012-08-07 10:44:57

[2015-10-23 20:05] iflan opened #45 "Keyframes syntax not supported"
Originally reported on Google Code with ID 26
[code]

Reported by `dennis@enkelsoft.com` on 2012-08-07 19:23:40

<hr>
 * *Attachment: [test.css](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-26/comment-0/test.css)*

[2015-10-23 20:06] iflan opened #46 "Renaming can rename to a class already used"
Originally reported on Google Code with ID 27
[code]

Reported by `rhysbrettbowen` on 2012-08-31 21:02:46

[2015-10-23 20:06] iflan opened #47 "Latest build from sources does not allow outline-offset property"
Originally reported on Google Code with ID 28

[code]

Reported by `vbatichko` on 2012-10-02 20:48:22

[2015-10-23 20:06] #47 closed, assigned to iflan

[2015-10-23 20:06] iflan opened #48 "Parse error: -webkit-filter: drop-shadow"
Originally reported on Google Code with ID 29
[code]

Reported by `red.scorpix` on 2012-10-12 13:59:20

[2015-10-23 20:06] iflan opened #49 "Only last set of box-shadow values being evaluated"
Originally reported on Google Code with ID 30
[code]

Reported by `zulaxia` on 2013-01-18 10:12:00

[2015-10-23 20:06] iflan opened #50 "Improper Parsing of Unicode"
Originally reported on Google Code with ID 31
[code]

Reported by `mankoff@google.com` on 2013-03-15 15:13:13

[2015-10-23 20:06] iflan opened #51 "minification looses trailing space in content:"> ""
Originally reported on Google Code with ID 32
[code]

Reported by `jochen.voss` on 2013-03-22 15:17:14

[2015-10-23 20:06] iflan opened #52 "Loading external renaming css-map"
Originally reported on Google Code with ID 33

[code]

Reported by `igor.demyanov` on 2013-04-10 12:44:01

[2015-10-23 20:06] iflan opened #53 "Make identical declarations check optional"
Originally reported on Google Code with ID 34
[code]

Reported by `martin.sznapka` on 2013-04-11 14:57:33

[2015-10-23 20:06] iflan opened #54 "Feature request for joining strings"
Originally reported on Google Code with ID 35
[code]

Reported by `ali.taft90` on 2013-05-24 13:52:54

[2015-10-23 20:06] iflan opened #55 "background-color excluded from closure-compile if occurs before background: linear-gradient"
Originally reported on Google Code with ID 36
[code]

Reported by `ericjrickard` on 2013-06-21 18:00:36

[2015-10-23 20:06] iflan opened #56 "pretty-print flag wrongly adds spaces between multiple negation pseudo-classes (:not)"
Originally reported on Google Code with ID 37
[code]

Reported by `alo.and` on 2013-07-04 21:51:44

[2015-10-23 20:06] iflan opened #57 "Patch for /src/com/google/common/css/compiler/ast/CssFunctionNode.java"
Originally reported on Google Code with ID 38
[code]

Reported by `GoLocalTeam` on 2013-09-04 12:26:49

<hr>
 * *Attachment: [CssFunctionNode.java.patch](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-38/comment-0/CssFunctionNode.java.patch)*

[2015-10-23 20:07] iflan opened #58 "Patch for /src/com/google/common/css/compiler/ast/Property.java"
Originally reported on Google Code with ID 39
[code]

Reported by `mark.kaczkowski` on 2013-09-04 12:28:05

<hr>
 * *Attachment: [Property.java.patch](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-39/comment-0/Property.java.patch)*

[2015-10-23 20:07] iflan opened #59 "css calc is not supported"
Originally reported on Google Code with ID 40
[code]

Reported by `alexeykofficial` on 2013-10-11 09:49:30

[2015-10-23 20:07] iflan opened #60 "Wrong removal of last semicolon"
Originally reported on Google Code with ID 41
[code]

Reported by `regardingScot` on 2013-10-31 10:08:49

[2015-10-23 20:07] iflan opened #61 "CSS Source Maps"
Originally reported on Google Code with ID 42
[code]

Reported by `jhiswin` on 2013-12-09 10:21:43

[2015-10-23 20:07] iflan opened #62 "Ant build failed - Some input files use or override a deprecated API - Charset issues"
Originally reported on Google Code with ID 43
[code]

Reported by `pchillari@google.com` on 2014-04-01 16:52:36

<hr>
 * *Attachment: Screen Shot 2014-04-01 at 5.51.52 PM.png<br>![Screen Shot 2014-04-01 at 5.51.52 PM.png](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-43/comment-0/Screen Shot 2014-04-01 at 5.51.52 PM.png)*

[2015-10-23 20:07] iflan opened #63 "SourceCodeLocation is not copied when you clone a CssRulesetNode"
Originally reported on Google Code with ID 44
[code]

Reported by `julien.dramaix` on 2014-04-07 16:08:46

<hr>
 * *Attachment: [0001-Copy-the-sourceCodeLocation-when-we-do-a-deep-copy-o.patch](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-44/comment-0/0001-Copy-the-sourceCodeLocation-when-we-do-a-deep-copy-o.patch)*

[2015-10-23 20:07] iflan opened #64 "Parse error handling UTF-16 file"
Originally reported on Google Code with ID 45
[code]

Reported by `devm0nkey22` on 2014-07-10 15:19:50

<hr>
 * *Attachment: [utf16-test.css](https://storage.googleapis.com/google-code-attachments/closure-stylesheets/issue-45/comment-0/utf16-test.css)*

[2015-10-26 10:39] iflan opened #65 "Publish maven artifacts with every release."
We need to publish maven artifacts with every release so that people don't always have to build from source.

[2015-10-26 10:40] iflan commented on #20
I'm closing this issue. I've opened issue #65 to track making maven releases part of our standard process.

[2015-10-26 10:40] #20 closed

[2015-10-26 10:42] #21 closed

[2015-10-26 10:43] #23 closed

[2015-10-26 11:57] iflan commented on #28
@eunomie, I believe that this was your original issue and patch. If you're still interested, can you make a pull request with the updated patch? Yes, I know, it's been nearly 4 years, so if you don't care to, I completely understand. Just say so and I'll close out this bug.

[2015-10-26 11:58] #30 closed

[2015-10-26 12:17] iflan commented on #32
@gatapia, Closure Stylesheets does not support the BOM. From [What about the byte-order mark?](http://www.w3.org/International/questions/qa-css-charset.en#bom), the W3C suggests that it is not a reliable way to declare a stylesheet's encoding.

I'm closing this issue, but feel free to reopen if you think it's still a problem.

[2015-10-26 12:17] #32 closed

[2015-10-26 12:31] iflan commented on #33
@ltrabuco, I believe this was originally your issue.

As far as I can tell, only IE supports `text-justify`. I've found the [MSDN description] and it links to the [W3C standard's description][W3C description]. However, also at the [top of that document][W3C status], is this notice:

We already support the `-ms-text-justify` property, so I'm marking this as close. Please re-open if you have more in

[2015-10-26 12:31] #33 closed

[2015-10-26 12:35] iflan commented on #34
These properties seem to be IE-specific and we support the vendor-prefixed version.

[2015-10-26 12:35] #34 closed

[2015-10-26 12:39] iflan commented on #35
I believe the problem here is that we don't parse the parameters with colons (`x1:1`) properly. But as this isn't part of the CSS spec, I don't think we're going to fix it unless we get more reports. If you'd like to contribute a patch, let me know.

[2015-10-26 12:39] #35 closed

[2015-10-26 12:42] iflan commented on #36
@0x3333, is this still an issue for you? If so, please re-open and I'll take a look.

[2015-10-26 12:42] #36 closed

[2015-10-26 12:46] iflan commented on #38
@cpeisert, you are correct. However this should give you an error:
[code]
The reason is that the contents of `@def`s aren't checked until they are used.

Please re-open if this is not the case.

[2015-10-26 12:46] #38 closed

[2015-10-26 12:54] iflan commented on #39
@fleaflicker, @siderakis, we generally don't support browser-detection hacks in Closure Stylesheets as we prefer using `@if` to create browser-specific stylesheets. The one hack we support is the [star hack] and we still strongly discourage that.

[star hack]: https://en.wikipedia.org/wiki/CSS_filter#Star_hack

[2015-10-26 12:54] #39 closed

[2015-10-26 12:58] iflan commented on #42
@ weirhp, this should be fixed.

[2015-10-26 12:58] #42 closed

[2015-10-26 13:05] iflan commented on #45
@DennisFrostlander, all manner of `@keyframes` should be supported now.

[2015-10-26 13:05] #45 closed

[2015-10-26 13:29] iflan commented on #46
@rhysbrettbowen, sorry it has taken so long, but I will investigate. I was sure this was working with the `--excluded_classes_from_renaming` flag.

[2015-10-26 13:37] iflan commented on #51
@seehuhn, this should work in the latest version. Please reopen if it does not.

[2015-10-26 13:37] #51 closed

[2015-10-26 13:40] iflan commented on #53
@martinsznapka, would you be willing to make a patch for this?

[2015-10-26 13:43] iflan commented on #54
@ali-taft, the `concat()` function is available since 030a38a0d0d8cd75a0118225fcaee2521524a913.

[2015-10-26 13:43] #54 closed

[2015-10-26 13:50] iflan commented on #55
This is working as intended. Closure Stylesheets knows that the `background` shorthand will replace whatever the `background-color` property was doing with the default. This is part of the [background spec]:

[background spec]: http://www.w3.org/TR/CSS2/colors.html#propdef-background

[2015-10-26 13:50] #55 closed

[2015-10-26 13:55] iflan commented on #58
Can't find contributor.

[2015-10-26 13:55] #58 closed

[2015-10-26 14:00] iflan commented on #60
This is correct because the last semicolon in a block is optional. Please re-open if there is some issue I'm not seeing.

[2015-10-26 14:00] #60 closed

[2015-10-26 14:01] iflan commented on #61
@jhiswin, we have source map support now.

[2015-10-26 14:01] #61 closed

[2015-10-26 14:05] iflan commented on #62
@flea89, if I read the issue right, it looks like you're using Java 1.6 and you need to use Java 1.7 to get `java.nio.charsetStandardCharsets`, I believe.

Please re-open if that doesn't work.

[2015-10-26 14:05] #62 closed

[2015-10-26 14:07] iflan commented on #63
@jDramaix, I believe this is fixed. Please re-open if it's not.

[2015-10-26 14:07] #63 closed

[2015-10-26 14:09] iflan commented on #64
Please see #32. We don't support any input but UTF-8 and we don't support having a BOM.

[2015-10-26 14:09] #64 closed

[2015-10-26 18:03] flea89 commented on #62
Thanks, I'll give it a shot again.

[2015-10-26 18:03] 0x3333 commented on #36
It's not an issue anymore. Thanks.

[2015-10-26 21:50] eunomie commented on #28
Thanks for reporting my old issue :-)

See #66 for the PR.

[2015-10-27 10:02] martinsznapka commented on #53
Sry man, no time for this.

[2015-10-27 10:13] iflan commented on #53
No problem. I'm going to close this. If someone else brings it up, we'll come back to it.

[2015-10-27 10:13] #53 closed

[2015-10-27 13:49] #31 closed

[2015-10-27 16:42] iflan commented on #19
Thanks to your prompting, I did this even sooner that I said. You'll find a new [`README.md`](https://github.com/google/closure-stylesheets/blob/master/README.md) on the front page. I also ported the wiki pages from Google Code. I've got a request in with the team to start redirecting the old site here.

[2015-10-27 16:42] #19 closed

[2015-11-02 21:33] eunomie commented on #59
Is it always a bug?
On last `master` with attached `test.css`:

[code]

[2015-11-03 14:20] iflan commented on #59
It's likely that we've improved support for `calc` since this bug was submitted. Since you say it works, I'll close this out. Please re-open if that's not what you meant.

Thanks!

[2015-11-03 14:20] #59 closed

[2015-11-03 19:59] hochhaus opened #70 "Defining and calling mixins from separate files causes "Compiler internal error""
When defining and calling a mixin in separate source files the compiler currently (both 1.0 and HEAD) result in a "Compiler internal error". However, this did not used to be the case. A compiler that I build on Dec 23 2014 compiles these inputs just fine.

[code]

[2015-11-03 20:53] hochhaus commented on #70
I built a few versions of the stylesheets compiler. As best I can tell this code works in (2fd63e3d5a7a73def76079b43e73a3638aa7d11a) and fails after (a4397232982dc60b0e0fe3d627ac0e1de1663048).

[2015-11-04 09:30] iflan commented on #70
I confirmed this with:
[code]
I've looked through that change. The only thing that jumped out at me was the [addition of the `allowDefPropagation` field][1] in `JobDescription`. I think that may have caused the issue because, as far as I can see, there is no flag to actually turn that on.

I'm going to add a test and fix for this internally, then push it back out.

Thanks for your excellent bug re

[2015-11-04 10:45] iflan commented on #70
BTW, there are actually two errors wrapped up in the same bug.

1.  The `allowDefPropagation` field is false, meaning that mixins defined in one file can't be used in other files. This should print the error:

[code]

2.  The `java.lang.ClassCastException` causes the parser to exit before the error can be printed.

I've got a fix for (1) that will allow `@def` and `@mixin`s to propagate by default

[2015-11-04 16:55] hochhaus commented on #70
Thanks for the prompt reply. Even just fixing (1) allowDefPropagation by default [or with a flag] is good enough for me. The error reporting is far less important from my perspective.

[2015-11-04 19:24] iflan commented on #70
This should be fixed.

[2015-11-04 19:24] #70 closed

[2015-11-04 22:49] hochhaus commented on #70
Thanks! I can confirm that your change resolves my issue.

[2015-11-05 07:39] #57 closed

[2015-11-22 22:25] mediamichael opened #72 "Please add support for referencing parent selectors: &"
Referencing Parent Selector with "&" makes styling faster, removes repetition, decreases error potential, and is just awesome!

Example in SASS: "Sometimes it’s useful to use a nested rule’s parent selector in other ways than the default. For instance, you might want to have special styles for when that selector is hovered over or for when the body element has a certain class. In these cases, you

[2015-11-26 21:27] iflan commented on #72
This has been asked for several times, so I'm thinking that it's not an unreasonable request.

One of the reasons that we haven't done things like this in the past is because it breaks away from the CSS grammar. Maybe that's not a big issue, though, since it's not like `@def`s would work without compilation in the first place.

There are a couple issues, though, that I think we need to work throug

[2015-12-01 18:47] SLaks commented on #72
`&` with multiple selectors should work like LESS, with combinatorial expansion.  See http://blog.slaks.net/2013-09-29/less-css-secrets-of-the-ampersand/ for lots of examples.  This feature is extremely useful when making interesting selectors.

[2015-12-01 18:48] SLaks commented on #72
I think `@def`s should be allowed in a rule, and should create scoped names that are only visible in that rule.

I don't see any issues with `&` in a component; the first classname would be prefixed, as always.  (if `&` comes before the first classname, I think it should not be prefixed).

[2015-12-09 19:44] SLaks opened #73 "Feature Request: Suppress @component prefixing"
There are many cases where I want to style a component-prefixed class iff it's contained within a different, non-component-prefixed class.  Currently, this requires that you drop the component entirely.

Proposed syntax:

[code]

Output:

[code]

I use `^` since it's after `%` on the keyboard, and to match regex conventions (signifying that this is the actual beginning of the classname).

Open que

[2015-12-09 19:45] SLaks commented on #73
Once we agree on a syntax, I will implement this

[2016-01-11 13:43] amralassal commented on #53
I've the same problem. It would better if there's a flag to turn on/off this identical check.

[2016-01-11 13:49] iflan commented on #53
If you're willing to make a patch, I'm willing to take a look at it. :-)

[2016-01-13 23:51] gg4u opened #74 "Unsupported major.minor version 52.0"
[code]

runnning java:
java version "1.7.0_72"
Java(TM) SE Runtime Environment (build 1.7.0_72-b14)
Java HotSpot(TM) 64-Bit Server VM (build 24.72-b04, mixed mode)

[2016-01-14 08:48] iflan commented on #74
Is this using the pre-compiled JAR or one that you built yourself?

[2016-01-18 12:37] amralassal commented on #53
I've done the changes and I did a pull request.

[2016-02-03 11:39] gg4u commented on #74
I compiled mylsef and installed following instructions (with maven?)

[2016-02-03 12:04] iflan commented on #74
It looks like the JRE that you're using to run the JAR is older than the JDK you're using to build the JAR. From the error, you're compiling with [JDK 8](http://stackoverflow.com/questions/10382929/how-to-fix-unsupported-major-minor-version-51-0-error).

Try this:
[code]
If it shows something like:
[code]
Then you're using JRE 7. You just have to change your path to use the `java` binary in your J

[2016-02-03 12:04] #74 closed

[2016-02-04 08:12] gg4u commented on #74
Oh @iflan , thank you. Yes using 1.7 , it clarified what error is.

[2016-02-28 02:36] jart opened #77 "CSS compiler missing com.google.debugging.sourcemap"
I get the following error:

[code]

In order to fix this, I had to put the Closure JavaScript Compiler jar on the classpath.

Your pom.xml file does not appear to declare a dependency on whatever provides that class.

[2016-02-28 02:38] jart opened #78 "CSS compiler broken with --output-source-map"
The CSS compiler does not appear to work when I specify the `--output-source-map` flag. Here's what happens:

[code]

On my classpath I have `com.google.closure-stylesheets:closure-stylesheets:20160212` and `com.google.javascript:closure-compiler:v20160208`.

[2016-02-28 13:29] iflan commented on #77
Hi Justine,

I'm afraid that our pom.xml is in sore need of some updating. I take it that you are building from source, not the pre-packaged JAR? The issue may be that `libsourcemap.jar` is out of date, which would also explain why putting the JS compiler on the path makes the problem go away. (That jar is ripped directly from the JS compiler.)

Cleaning all of this stuff up has been planned for a

[2016-02-28 13:31] iflan commented on #78
I'm not sure that source map output actually works, even internally. The team that was working on it just sort of let it drop about half-way through and I'm not sure what the final state actually is.

[2016-02-28 22:21] jart commented on #77
I'm technically not using the `pom.xml` file. I'm fetching the jars from Maven and using them in Bazel. The workaround I mentioned is sufficient for my purposes. But this issue should probably be solved for people who use Maven instead of Bazel.

[2016-02-28 22:26] jart commented on #78
Out of curiosity, how committed is Google to the Closure Stylesheets compiler? Is it 20% only maintenance mode? I want to be able to recommend it as the best CSS compiler to use with Closure Tools. I want to be able to say that it will be continually supported by Google and be a safe choice for greenfield projects. Do you feel this is accurate? If not, what CSS compiler do you feel is the most rec

[2016-04-04 04:03] diegovar opened #80 "Allow using functions and @defs in @media queries"
Currently one can only use literals in @media queries for eg: specifying widths. It would be great if we could use functions (such as arithmetic functions) or reference @def constants in @media rules.

[2016-04-20 00:36] mapx opened #81 "Parse error: @media screen and (min-width:0\0)"
The hack in question: http://browserhacks.com/#hack-a60b03e301a67f76a5a22221c739dc64

[code]

[2016-04-20 09:03] iflan commented on #81
The general rule is that we don't support hacks because the CSS compiler supports conditional compilation that can target individual browsers using `@if`. Please follow up if you believe that there should be an exception for this case.

[2016-04-20 09:03] #81 closed

[2016-04-20 10:14] mapx commented on #81
The hack is written in [Foundation CSS framework](http://foundation.zurb.com/) v6.2.1 as:

https://github.com/zurb/foundation-sites/blob/d51418cbbfdbe9e4b06e5267fb3accd266d83571/scss/util/_mixins.scss#L121

It will be great if they can work together, or workaround has to be made :)

[2016-05-05 02:02] rzhw opened #83 "Opacity functions"
It'd be great if there was opacity functions, e.g. http://sass-lang.com/documentation/Sass/Script/Functions.html#alpha-instance_method http://lesscss.org/functions/#color-operations-fadein

[2016-05-05 09:33] iflan commented on #83
If you want to give it a go, send me a pull request.

[2016-05-17 13:45] jart opened #84 "Automatic reordering of stylesheets"
If stylesheets use `@provide` and `@require` then it is possible for the compiler to put them back in the correct order. Closure Compiler has been able to do this with JS sources for at least a few years. I feel like this is important because it allows the build system to be more forgiving, if you do things like sort your `srcs` list, or use `glob(["*.css"])` rather than have a separate `closure_c

[2016-06-07 12:57] iflan commented on #44
This has been "fixed" because we now emit a warning when an lowercase identifier is found.

[code]

produces:

[code]

[2016-06-07 12:57] #44 closed

[2016-06-07 14:18] iflan commented on #56
This is already fixed. I verified with:

[code]

Then:

[code]

produces:

[code]

[2016-06-07 14:18] #56 closed

[2016-06-07 14:20] iflan commented on #50
This is fixed.

[code]

produces:

[code]

[2016-06-07 14:20] #50 closed

[2016-06-07 14:23] iflan commented on #49
This is fixed.

[code]

produces:

[code]

[2016-06-07 14:23] #49 closed

[2016-06-07 14:25] iflan commented on #48
This is fixed.

[2016-06-07 14:25] #48 closed

[2016-06-07 14:36] iflan commented on #46
I think this is a documentation bug. You need to put the class that you want to rename in the `--excluded-classes-from-renaming`.

For example:

[code]

run as:

[code]

produces:

[code]

while:

[code]

produces:

[code]

[2016-06-07 14:36] #46 closed

[2016-06-07 14:56] iflan commented on #73
I believe this is closed now.

[2016-06-07 14:56] #73 closed

[2016-06-28 08:59] PauloMelo opened #85 "Lack of documentation for @for"
Hello,
I'm trying to use @for to automatically expand css rules and there are no examples for it. On the other hand there is no example on using the percent either on a @def or @defmixin

`@for $i from 1 to 100 {.p$i {width:$i%;}}`

This fails on two places:
the first one is on .p$i that I've found should be .p-$i and I can live with this;
the second one is on the percent sign, If I remove it, it

[2016-06-28 09:04] iflan commented on #85
Design doc is here: go/gss-loops-design

Bugs to the author, please. But we'll take a patch, too. :-)

Ian

On Tue, Jun 28, 2016 at 10:59 AM, PauloMelo <notifications@github.com>
wrote:

[2016-06-28 09:05] iflan commented on #85
Sorry, I pointed to the internal docs. I'll export them and send another
link.

Ian

On Tue, Jun 28, 2016 at 11:03 AM, Ian Flanigan <flan@google.com> wrote:

[2016-06-28 09:15] iflan commented on #85
Here you go:

https://github.com/google/closure-stylesheets/wiki/@for-loops

Thus, to fix your problem, use `mult(1%, $i)` and you'll get the result as a percent.

[2016-06-28 09:15] #85 closed

[2016-06-28 09:16] PauloMelo commented on #85
Many thanks!

[2016-06-28 22:20] pdknsk opened #86 "does not remove duplicates in @font-face src property"
[code]

[2016-07-16 18:06] pspeter3 opened #89 "Allow multiple identical, non-alternate declarations in the same ruleset without @alternate"
Is there a command line flag that whitelists all instances of these?

[2016-07-18 19:49] pspeter3 commented on #89
It seems like this will be resolved by https://github.com/google/closure-stylesheets/pull/79

[2016-07-20 00:18] iflan commented on #89
Let's keep the discussion in #90. Closing this.

[2016-07-20 00:18] #89 closed

[2016-07-22 00:39] Spunkie commented on #78
Has there been any further developments in fixing sourcemaps?

[2016-07-22 00:45] iflan commented on #78
Yes. There are a few changes in review. I'll try to push them out next week.

[2016-07-23 00:38] jart commented on #78
+1

[2016-08-30 11:56] iSynth opened #91 "Wrong build documentation"
$ git clone https://code.google.com/p/closure-stylesheets/
$ cd closure-stylesheets
$ pwd
/home/***/closure-stylesheets
$ ant
Buildfile: build.xml does not exist!
Build failed

[2016-08-30 12:12] iflan commented on #91
Fixed.  See https://github.com/google/closure-stylesheets/wiki/Building-From-Source.

[2016-08-30 12:12] #91 closed

[2016-08-30 12:31] iSynth opened #92 "Cannot build from source [help wanted]"
$ git clone https://code.google.com/p/closure-stylesheets/
$ cd closure-stylesheets
$ mvn compile assembly:single

[INFO] Scanning for projects...

*****

[INFO]
[INFO] --- maven-assembly-plugin:2.3:single (default-cli) @ closure-stylesheets ---
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ----------------------------------------------

[2016-08-30 12:46] iflan commented on #92
Works for me. What's your Maven version?

[code]

[2016-08-30 13:01] iSynth commented on #92
@iflan

$ mvn -v
Apache Maven 3.0.5
Maven home: /usr/share/maven
Java version: 1.7.0_111, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-7-openjdk-amd64/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "3.19.0-51-generic", arch: "amd64", family:

[2016-08-30 13:31] iSynth commented on #92
@iflan

Updating maven does not help

$ sudo apt-get purge maven maven2 maven3
$ sudo apt-add-repository ppa:andrei-pozolotin/maven3
$ sudo apt-get update
$ sudo apt-get install maven3
$ mvn -v

Apache Maven 3.3.9 (bb52d8502b132ec0a5a3f4c09453c07478323dc5; 2015-11-10T19:41:47+03:00)
Maven home: /usr/share/maven3
Java version: 1.7.0_111, vendor: Oracle Corporation
Java home: /usr/lib/jvm/java-7-ope

[2016-08-30 14:42] iflan commented on #92
You are correct. I have no idea what changed. I'm investigating.

[2016-08-30 14:46] mikesamuel commented on #92
Why are you doing `assembly:single` instead of `package` or `verify`?

[2016-08-30 14:53] iflan commented on #92
We're trying to get a runnable JAR. I had that working this morning:

[code]

It's possible that I had some changes locally that I managed to blow away.

[2016-08-30 14:55] iflan commented on #92
Ah, interesting. My failing run has this:

[code]

while the passing run has this:

[code]

[2016-08-30 15:47] #92 closed

[2016-08-30 15:48] mikesamuel commented on #78
I believe this was addressed in https://github.com/google/closure-stylesheets/commit/713aff428d8ebff20935189a5c153c016a1f9dbf

[2016-08-30 15:48] #78 closed

[2016-08-30 15:52] mikesamuel commented on #77
I believe this was addressed by
https://github.com/google/closure-stylesheets/commit/1493a85e0aab24e9a05420f9f43b89104c2b982d#diff-600376dffeb79835ede4a0b285078036R185

I looked into separating that code out of closure-compiler into a separate maven module, but there's a dependency cycle though, IIRC, the cycle is in test code.

[2016-08-30 15:52] #77 closed

[2016-08-30 19:24] mikesamuel commented on #84
I use [TopoSort](https://github.com/mikesamuel/closure-maven-plugin/blob/master/plugin/src/main/java/com/google/closure/plugin/common/TopoSort.java) for this in closure-maven-plugin.

[2016-08-31 06:26] iSynth opened #94 "Exception in thread "main" java.lang.NoClassDefFoundError"
$ java -jar closure-stylesheets-21060712-SNAPSHOT-jar-with-dependencies.jar

[code]

[2016-08-31 07:05] iflan commented on #94
You are correct. I'm investigating. (And I guess I need to add a quick test of the assembled JAR to our release process, don't I?)

[2016-08-31 07:35] iflan commented on #94
OK—this is because of the `<provided>` line here in `pom.xml`:

[code]

If you delete that line and rebuild with `mvn clean compile assebly:single`, it should work. I'm assigning this to Mike because he made this change. I'll do another release when this is fixed. I'll also update our release checklist to make sure we actually test the runnable JAR.

[2016-08-31 11:15] iSynth commented on #94
Thank you, now it works nicely.

[2016-09-06 04:13] hochhaus commented on #11
This bug is causing problems for me too. For example:

[code]

When run with the 1.3.0 compiler:

```bazel-out/local-fastbuild/bin/external/io_bazel_rules_closure/third_party/java/csscomp/ClosureCommandLineCompiler --output-file bazel-out/local-fastbuild/bin/lathamlabs/ll_css_bin.css --output-source-map bazel-out/local-fastbuild/bin/lathamlabs/ll_css_bin.css.map --input-orientation LTR --output-or

[2016-09-06 18:18] mikesamuel commented on #11
For reference, here are links to source code

* [SourceMapGeneratorV3.java:737](https://github.com/google/closure-compiler/blob/b8d8d1d6c6d245a3df57feedc511f2e849b01932/src/com/google/debugging/sourcemap/SourceMapGeneratorV3.java#L737)
* [SourceMapGeneratorV3.java:693](https://github.com/google/closure-compiler/blob/b8d8d1d6c6d245a3df57feedc511f2e849b01932/src/com/google/debugging/sourcemap/Source

[2016-09-07 01:18] jart commented on #84
Oh my gosh thank you for sharing this @mikesamuel! That and [CssDepGraph](https://github.com/mikesamuel/closure-maven-plugin/blob/master/plugin/src/main/java/com/google/closure/plugin/css/CssDepGraph.java) are really going to save me a lot of time.

Out of curiosity, is your checkForCycles() function guaranteed to halt? I'm not sure considering the way it's going back in there to try and find shor

[2016-09-07 02:06] jart commented on #84
Ooh also you could probably use `Sets.newIdentityHashSet()` for your `seen` variable.

[2016-09-12 06:56] hochhaus commented on #11
@iflan Do you have any time to look more at this bug?

[2016-09-13 14:27] iflan commented on #11
I will look at this tomorrow. Sorry for the delay!

[2016-09-13 14:29] hochhaus commented on #11
Thanks.

[2016-09-14 17:13] iflan commented on #11
As expected, it looks like we're not generating the right end position sometimes:

![screen shot 2016-09-14 at 7 09 36 pm](https://cloud.githubusercontent.com/assets/7514156/18522060/cf858c9e-7aae-11e6-9af6-f2ecc37cb604.png)

I'm still looking at this. When I find a solution, I'll post a quick patch, but make a better patch, test, etc. and submit it internally which may take a few more days.

Than

[2016-09-14 17:37] hochhaus commented on #11
Thanks Ian. Once the final patch is merged and pushed to the open source repo could a new release be cut?

[2016-09-14 17:47] mikesamuel commented on #11
https://github.com/google/closure-stylesheets/blob/c72069d15650773a9df1bbb6ef911afac29ec03d/src/com/google/common/css/compiler/passes/FixupFontDeclarations.java#L528-L530 looks dodgy.

It seems to be taking the location of the first font family as the location of a bunch of font families.

[2016-09-14 19:15] iflan commented on #11
That's a good guess, but I don't think that's it. My debugging has lead me to a problem in the `DefaultVisitController`. For some reason, `UniformVisitor` is not always having the `leave` method called for each enter for `CssCompositeValueNode`s.

[2016-09-14 19:56] iflan commented on #11
OK, I'm pretty sure that the problem is that none of the methods in `CompactPrinter` that come from `UniformVisitor` actually call their `super()`. I'm surprised that nothing else broke, but that could explain a lot of our problems with sourcemaps.

That's a big change, so I'll tackle it tomorrow.

[2016-09-15 07:38] iflan commented on #11
After investigation, I have a patch (below) that avoids the NPE as originally described. It's not the right solution because further subclasses of `CompactPrinter` will end up having the same problem. They *can't* call their `super` methods because that would trigger whatever behavior they are trying to override.

The solution is (I think) to:
* split `CompactPrinter`'s `CssCompilerPass` and `Code

[2016-09-15 07:44] hochhaus commented on #11
Awesome. Thanks Ian.

[2016-09-16 16:41] iflan commented on #11
I've got a change internally that works. However, it's pretty big and complicated. My main reviewer is on vacation, so I've asked @mikesamuel to take a look. Unfortunately, this may take a few more days to get in and pushed out.

[2016-09-16 17:05] hochhaus commented on #11
Thanks. No worries about a delay. As long as a fix is slowly moving through the pipeline that meets my needs.

[2016-09-20 15:53] iflan commented on #11
Just an update on this: I'm currently getting this submitted internally and it should be done tonight. I'm not going to have time to push out a new release tonight, so I'm expecting to push it tomorrow morning. (The Maven release may be delayed until tomorrow night, though.)

[2016-09-20 16:15] hochhaus commented on #11
Awesome. Thanks for providing the timeline.

[2016-09-21 08:15] #11 closed

[2016-09-21 08:15] #94 closed

[2016-09-21 08:16] #40 closed

[2016-09-21 08:23] iflan opened #95 "Source maps still aren't produced correctly"
Even after fixing #11, it's clear that source maps aren't being generated correctly.

Given:
[code]

The compiler produces:
[code]
and the sourcemap:
[code]

A [visualization] of the sourcemap shows that the `@def` is correctly linked, but none of the other parts make much sense.

[visualization]: https://sokra.github.io/source-map-visualization/#base64,LmF7Zm9udC1mYW1pbHk6SGVsdmV0aWNhLFRhaG9tYTti

[2016-09-21 13:25] iflan commented on #11
A new release, [v1.4.0], has been pushed. It's available on [GitHub] and [Maven Central].

[v1.4.0]: https://github.com/google/closure-stylesheets/tree/v1.4.0
[GitHub]: https://github.com/google/closure-stylesheets/releases/tag/v1.4.0
[Maven Central]: http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.closure-stylesheets%22%20AND%20a%3A%22closure-stylesheets%22

[2016-09-21 16:14] hochhaus commented on #11
Thanks Ian!

[2016-09-21 17:29] mikesamuel opened #96 "mark vestigial processDependencies optional"
According to https://github.com/google/closure-stylesheets/search?utf8=%E2%9C%93&q=processDependencies&type=Code the processDependencies flag is set but never read after it reaches Job.

Maybe we should mark this deprecated and eventually remove it.

[2016-09-21 17:36] mikesamuel commented on #96
Ditto `useInternalBidiFlipper`.

[2016-09-26 19:47] dsbecker opened #97 "Feature Request: Better parsing of vendor specific pseudo elements/selectors"
The issue of vendor specific pseudo elements seems it was at least partially fixed, but I've got another scenario that's triggering it.  In my original GSS I have this:
[code]

And GSS seems to properly split this out in the final output:
[code]

However, if I modify my original GSS like so:
[code]

The output is left combined, and the effect breaks. Even if I manually split out the two blocks in

[2016-09-26 19:48] dsbecker commented on #97
See also: https://groups.google.com/forum/#!topic/closure-stylesheets-discuss/yDe2Rp5lZFo

[2016-09-27 07:38] iflan commented on #97
I think the problem is in `MergeAdjacentRulesetNodesWithSameDeclarations`.  There's a method called `hasProblematicSelectors` that tries to decide whether the rulesets can be combined. I'm guessing that it's not working for you, but I'm not sure why. (I'm guessing it's because it's not recursive.) Can you give me an exact repro case using the runnable JAR? If you can, then I'll write a test for it

[2016-09-30 21:00] dsbecker commented on #97
It may be a while before I can get back to extracting this test case. We're
knee deep into a deadline at the moment.

Thanks for your patience!

-.. .- ...- .. -..    ...    -... . -.-. -.- . .-.

On Tue, Sep 27, 2016 at 12:38 AM, Ian Flanigan <notifications@github.com>
wrote:

[2016-10-15 01:52] dsbecker commented on #97
Minor correction: `@external` is a GWT thing, not a closure thing. In pure closure stylesheets syntax I use `.↑↑↑_DO_NOT_MERGE_ADJACENT_RULESET_↓↓↓ { display: none; }` instead.

[2016-10-31 01:46] samaxes opened #101 "Java API compiler"
Would you consider adding a compiler that can be used directly in Java?
Something like [Compiler](https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/Compiler.java) and [CompilerOptions](https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/CompilerOptions.java) from [Closure Compiler](https://github.com/google/closure-compiler)

[2016-10-31 08:47] iflan commented on #101
That already exists, to some extent. However, you need to wrangle the inputs, then run the passes you want yourself.

I'm certainly willing to accept patches that improve the usability of the compiler. If you'd like to contribute a more turnkey solution, propose a design and we'll discuss it.

[2016-10-31 14:42] a701440 opened #102 "Parser error on -webkit gradient"
Appears to fail parsing on this line:

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0% rgba(0, 0, 0, 0)), color-stop(100% rgba(0, 0, 0, 0.8)));

[2016-10-31 15:26] a701440 commented on #102
Looks like it gets fixed by adding commas between the color-stop arguments.

[2016-10-31 15:33] a701440 opened #103 "Parser error on @viewport"
@media screen and (max-width: 605px) {
    @viewport {
        width: 100px;
   }
...

Looking at the parser stack:
at_rule->block->at_rule->block->ruleSet

It takes "width" as a selector inside of the ruleSet. Not as a property name.

[2016-10-31 15:57] iflan commented on #102
All examples that I could find on Apple's site have the comma syntax:

https://developer.apple.com/library/content/documentation/InternetWeb/Conceptual/SafariVisualEffectsProgGuide/Gradients/Gradient.html#//apple_ref/doc/uid/TP40008032-CH10-SW1

[2016-10-31 15:57] #102 closed

[2016-10-31 15:59] iflan commented on #103
Yeah, this is a known problem.

[2016-10-31 17:14] a701440 opened #104 "Several more or less standard properties unrecognized, had to add to setAllowedUnrecognizedProperties"
Old Opera selectors:

-o-border-radius
-o-box-shadow
-o-filter

Some Mozilla props:

-moz-filter
-moz-flex-grow
user-select

[2016-11-01 03:46] pdknsk opened #105 "does not remove empty @media"
[code]
It removes the empty `h1`, but neither `@media`.

[2016-11-02 20:06] a701440 commented on #104
Few props that are not recognized by default:

-moz-flex-flow
-moz-align-content
-ms-align-content
text-justify
touch-action
-ms-touch-action
-o-border-radius
-ms-border-radius
-o-box-shadow
-o-filter
-o-text-shadow
-moz-filter
-webkit-text-shadow
-moz-text-shadow
-moz-flex-grow
-ms-flex-grow
-moz-flex-wrap
user-select
-o-user-select
column-break-inside
-moz-column-break-inside
-moz-flex-shrink
-m

[2016-11-03 14:24] a701440 opened #106 "Add css node declaration object to the GssError for better error reporting."
The code in CSS validation does not send failing CSS node to the error manager. Having the node object can provide more information for richer error reporting (i.e. print parent node content, etc.)

Current code in places like processDeclaration:

errorManager.report(new GssError(ERROR_STR + declaration, location));

Change to something like:

errorManager.report(new GssError(ERROR_STR + declarati

[2016-11-22 19:55] nmoresco opened #107 "CSS Renaming prefixes are no longer honored when generating renaming map"
If I specify a renaming prefix, it seems to be lost in get renaming map JS.  If I go back to one before this commit https://github.com/google/closure-stylesheets/commit/d4476e5295f20780cf453df8e534ceeae991fcb9 it works fine with the same parameters.

[2016-11-22 21:46] iflan commented on #107
Thanks for the report. I'll try to take a look soon.

[2016-11-23 00:53] nmoresco commented on #107
I did a little more digging, the root of the issue seems to be the hyphenated selectors.  If you have a selector like `.foo-bar`, that gets turned into `.x_a-b` in the CSS.  But in the map it becomes:
[code]
If you call RecordingSubstitutionMap.get("foo-bar") in the code it correctly returns `.x_a-b` (this is why the tests pass), but that doesn't help the generated map in javascript land.

Its not

[2016-11-23 18:01] dsbecker commented on #97
Sorry for the delay. Here is a test case reproducible with the downloadable jar:

Input:
[code]

Command Line:
```$ java -jar closure-stylesheets.jar --pretty-print issue-97.gss```

Output:
[code]

[2016-12-19 11:16] puranjayjain commented on #103
There is a similar problem with @supports and @charset tag, is there any way for the compiler to ignore those attributes all together? That way this problem can be temporarily mitigated.

[2016-12-21 06:24] puranjayjain opened #108 "Command line argument preserve comments doesn't work"
Using the command below
[code]

I expect the output should be pretty printed but also have comments, but they are rather stripped, is there something I'm doing wrong? are only certain types of comments supported?

[2016-12-21 16:16] iflan commented on #108
I haven't had time to verify this, but I will try soon. Do you have a particular input file that you can share?

[2016-12-21 16:51] iflan commented on #103
It's not quite as easy as that, unfortunately. :-( I'll try to take a look at this soon, but my recent focus has been improving sourcemap support. If you have a patch, I'll gladly look at it.

[2016-12-21 16:59] puranjayjain commented on #108
Its a css file I have renamed it to a .txt file as github doesnt support that file type.
[material.txt](https://github.com/google/closure-stylesheets/files/666909/material.txt)

[2017-01-17 00:31] BradMclain opened #109 "Combining of CSS rules breaks when using browser prefixes and selectors"
For example the following:
[code]

Will be rewritten as:
[code]

However standard browser behaviour is to ignore a rule if any selector in a group of selectors is not recognised or is invalid. In this case the browser prefixes will always fail in other browsers so this rule is never applied.

See https://www.w3.org/TR/css3-selectors/#Conformance which has the line:
[code]

[2017-01-23 10:16] davidarvan commented on #107
Has anything changed on this issue? It would appear that the most recent build will prepend the classnames with the prefix from the command line, but not set them in the "renaming map" file.

Setting `goog.global.CLOSURE_CSS_NAME_MAP_FN` only seems to work for initial calls, which makes sense if getCssName is a compiler primitive. Wrapping `goog.getCssName` also does not work.

 `--excluded-classe

[2017-02-27 10:35] JamesXNelson opened #112 "Allow ::slotted(selectors)"
Shadow DOM V1 needs ::slotted(selectors) to be able to style slotted content inside the shadow root.

I patched this for GWT, and will submit a pull request here with the necessary change.

[2017-02-27 10:38] JamesXNelson commented on #112
https://github.com/google/closure-stylesheets/pull/113

[2017-03-22 00:10] BradMclain commented on #109
Possibly a dupe of #109?

[2017-03-23 10:48] oliverfernandez opened #116 "Parsing error with CSS vars"
closure-stylesheets is throwing a parsing error when a CSS file uses [CSS3 variables](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables)

For example, the following file
[code]

throws

[code]

Is there any quick solution to prevent this, or a change in closure-stylesheets is necessary?

[2017-03-31 13:19] iflan commented on #116
You are correct. We should implement support. Any volunteers?

[2017-05-10 11:54] udonmai opened #120 "When RTL flipping, border-radius should not be treated differenrtly"
Now `border-radius: 10px 10px 0 0;` will be flipped to `border-radius: 0 0 10px 10px;`
while it should be `border-radius: 10px 10px 0 0;`

since the four values are
`top-left 1`  `top-right 2`
`bottom-left 4` `bottom-right 3`
-> `1 2 3 4`

and should be turned to be
`2` `1`
`3` `4`
-> `2 1 4 3`

[2017-05-10 18:01] seanmfoy commented on #120
I used this input:

[code]

with this invocation:
`java -jar target/clsoure-stylesheets-1.5.0-SNAPSHOT-jar-with-dependencies.jar --pretty-print --output-orientation RTL 120.css`

and got this output:
[code]

Can you give a more detailed recipe to reproduce this problem?

[2017-06-17 08:42] pdknsk opened #122 "incorrect error on nested @-rules"
[code]
This is [perfectly valid](https://www.w3.org/TR/css3-conditional/#contents-of) and supported by both Chrome and Firefox. (I haven't tried others.)

[2017-06-17 15:47] seanmfoy commented on #122
also not supported by w3c jigsaw [https://github.com/w3c/css-validator/issues/44].

What error are you seeing with closure stylesheets?

[2017-06-18 23:38] pdknsk commented on #122
[code]

[2017-06-19 12:51] marcodelpercio commented on #101
Add the latest **closure-stylesheets.jar** to your Build Path

[code]

I hope it helps

[2017-07-11 23:03] ribrdb commented on #116
Ping. Can someone look at the pull request?

[2017-07-19 09:52] ilovezfs opened #123 "closure-stylesheets.jar missing?"
@seanmfoy There was a closure-stylesheets.jar for 1.5.0 but it seems to be missing now. Was there a problem with it?

[2017-07-19 17:53] seanmfoy commented on #123
No problem, it was merely delayed. The jars are posted now.

[2017-07-19 17:53] #123 closed

[2017-07-31 05:02] guoyanjun5 commented on #94
# ## ###

[2017-08-07 08:23] Yannic opened #124 "Crash when using non-empty input-renaming-map"
Closure Stylesheets crashes with the following exception when using an non-empty input-renaming-map. The format of the renaming map does not seem to matter, it only must not be empty.

[code]

Repo:
`java -jar closure-stylesheets-1.5.0-SNAPSHOT-jar-with-dependencies.jar --input-renaming-map renaming.json some.css`

`renaming.json`
[code]
`some.css`
Content does not matter, can be empty.

[2017-09-01 04:12] #122 closed

[2017-09-14 16:21] a701440 opened #126 "Does not work with feature queries @supports"
@supports (background-clip: text) or (-webkit-background-clip: text) or (-moz-background-clip: text) {
}

[2018-01-12 12:40] oliverfernandez commented on #116
@ribrdb Thanks for PR!

Also pinging here

[2018-01-12 16:39] ribrdb commented on #116
I think this is fixed in the latest release of closure stylesheets. At least the parse error -- it doesn't rename variables.

[2018-03-13 15:21] jorgedavila25 opened #127 "Building closure stylesheets with Webpack"
Is there a way to build closure stylesheets via Webpack? Similar to: https://github.com/google/closure-compiler-js#webpack

Thanks in advance

[2018-06-22 15:45] Helle1 opened #128 "box-decoration-break is an unrecognized property"
I get this error, but this one is a real thing https://www.w3schools.com/cssref/css3_pr_box-decoration-break.asp

[2018-07-01 11:34] adam-rocska opened #129 "Expand MergeAdjacentRulesetNodesWithSameDeclarations functionality to any repetitive rulesets"
# Summary
**AS A** Software Engineer
**I WOULD LIKE TO** have rulesets belonging to the same selectors merged across multiple GSS files
**SO THAT I** may have a more efficient and smaller CSS file as a result.

# Description

At the time of writing, rulesets belonging to the same selector are only merged, if they are consecutive to one another / adjacent to one another.
I would like to have this b

[2019-01-11 10:59] gaetmorin opened #133 "Non splitting renaming type"
I am trying to emit a CSS renaming map that does not split class names around hyphens (`-`). The Closure Compiler intrinsic goog.setCssNameMapping() supports this type of map via the `BY_WHOLE` style.

Using the latest version of the Closure Stylesheets command line (v1.5.0), there is a `--output-renaming-map-format CLOSURE_COMPILED_BY_WHOLE` option that appends `'BY_WHOLE'` as a second argument t

[2019-03-24 22:35] scorredoira opened #135 "@supports throws "unknown @ rule" error"
Hi, is there any way to ignore the error with this valid rule?

Thank you

[code]
[code]

[2019-06-11 08:53] blasss opened #136 "Parsing error with css calc and negative number"
The parsing of calc() functions does not seem to recognize negative numbers as part of an expression. The following expression yields an parsing error:
`margin-left: calc(var(--size-grid-marker-column-resize) / -2);`

[code]

According to [https://drafts.csswg.org/css-values-3/#calc-notation](url) this is a perfectly valid expression.
As a workaround the expression can be converted to the followin

[2019-06-21 22:48] sgammon opened #137 "Parse error with calc()"
I am running into a parse error when compiling a stylesheet that uses `calc()` with a custom `var()`. I don't precisely know why it's crashing.

This might be related to #136 (*Parsing error with css calc and negative number*), but my issue doesn't involve negative numbers. The declaration, in this case, that stopped the compiler, was:

[code]

Here is the stacktrace:
[code]

[2019-06-22 00:45] sgammon opened #138 "Unable to parse source maps"
When building SCSS before running it through GSS, if the SCSS is configured to output source maps, I get the following error from GSS:

[code]

#61, which was fixed by @iflan, doesn't mention whether incoming source maps are supported.

[2019-06-24 15:36] codewavedave commented on #10
I know this is an old thread, but I confirmed this bug still exists in some html validators, for example https://validator.w3.org/ .  It doesn't like the comma-separated terms.  The workaround I found is, remove the commas and create separate statements, for the example given by mxab above, use:

[code]
Hope this helps somebody.

[2019-07-01 12:11] elipoultorak commented on #124
Any reason this wasn't merged yet? The problem still exists, and @Yannic's commit fixes it.

[2019-07-02 19:33] sgammon commented on #124
@elipoultorak it does fix it but if memory serves, it just disables the input renaming map? or did it work for you? if so then yeah why isn't this merged lol

[2019-07-02 19:55] Yannic commented on #124
TBH, I don't remember what problem I was trying to solve when I initially run into this crash, and I haven't seen it for the last two years.
IIRC, #125 worked but wasn't merged because the "fix" just hides the issue that the map isn't initialized where that's supposed to happen.

[2019-07-03 11:07] elipoultorak commented on #124
I just tried it, and for some reason, it does rename it properly with the fix. I used a CLOSURE_COMPILED format instead of json, so I don't know if it would work with json. But when I use the master branch, or the last release, it gives me an error. When I use @Yannic's fork, it uses the correct renaming according to the map.
I know it sounds weird, do you know why it happens? Maybe the Substituti

[2019-07-03 11:18] elipoultorak commented on #124
Update: it also works with json maps.

[2019-07-03 15:10] Yannic commented on #124
AFAIK, the crash above happens because the map isn't initialized at all. You're right that my fix works, but the map is only initialized right before the crash would happen and not where the initialization is supposed to happen.
Unfortunately, that's all I remember right now. If I remember to do so, I'll have a look (next week or so) if I can find some notes from two years ago.

[2019-07-03 15:19] elipoultorak commented on #124
That makes more sense, but it doesn't explain why the code works. :-)

![my-code-doesnt-work-i-have-noidea-why-my-code-33594653](https://user-images.githubusercontent.com/16066666/60603756-06359500-9dbf-11e9-9d53-e05f1eb13a2b.png)

[2019-07-03 17:23] sgammon commented on #124
@elipoultorak @Yannic sick, ha ha

merge the sucker then! i'm all for it. another one bites the dust, good work @Yannic

[2019-07-03 17:24] sgammon commented on #124
i have a fork of `closure-stylesheets` that gathers most, if not all, of these fixes and features introduced via PRs. i'll merge this in today, feel free to ping me if our fork can be helpful to you in the meantime before this gets merged.

[2019-07-03 17:28] elipoultorak commented on #124
Looks good, but is nobody at Google merging anything to this repo?

[2019-07-03 18:25] sgammon commented on #124
@elipoultorak welcome to the gap between regular open source, and google internal :) lol

[2019-10-13 10:00] zavr-1 commented on #95
🤷‍♂ 🤷‍♀

[2019-10-17 08:51] akbertram opened #140 "RTL flipping does not handle transform, linear-gradient properties"
When flipping CSS from LTR to RTL, the transform property also needs to be mirrored, mostly by reversing the sign of translations and rotations:

[code]
should become:
[code]
And
[code]
should become:
[code]

Is there perhaps a fix for this upstream, or would you be open to a PR?

[2020-01-18 21:20] danielsz opened #142 "Can't parse grid layout css syntax using named grid lines"
[code]

[2020-01-22 20:38] jakeatderivita opened #143 "List is missing 'all' property. Giving compile error."
https://github.com/google/closure-stylesheets/blob/970d51e6fb45591e50c057b118e66a364957da42/src/com/google/common/css/compiler/ast/Property.java#L57

[2020-03-15 13:47] zavr-1 commented on #137
@sgammon this appears to be because you're using fallback values which aren't parsed currently 😞

[2020-04-16 19:39] elhadis commented on #62
what I have to do in this problem

[2020-05-19 07:25] ogermann opened #145 "Escaped characters in css-identifier throws compiler parsing error"
Parsing CSS-identifiers with escaped characters throw a compiler error:

[code]

I know there are some debates if escaped characters in identifiers are good practice or not, so I just wondered if this is just an unsupported feature or prohibited by intent.

[2020-06-25 08:13] gdsaiful opened #146 "Dynamically solved the GssParserException."
Compiler parsing error: Parse error in /opt/codes/webcommanderv4-test/WebCommander/src/main/webapp/wc/4.0.0/css/admin/admin.css at line 10,759 column 28:
    filter : alpha(opacity:0)
                           ^
com.google.common.css.compiler.ast.GssParserException: Parse error in /opt/codes/webcommanderv4-test/WebCommander/src/main/webapp/wc/4.0.0/css/admin/admin.css at line 10,759 column 28:

[2020-07-24 14:59] buckelieg commented on #10
Failed to execute goal com.github.buckelieg:minify-maven-plugin:2.0.2:minify (js-minify) on project web-ui: java.io.IOException: com.google.common.css.compiler.ast.GssParserException: Parse error in bootstrap-grid.css at line 8 column 24:
    width: device-width;

[2020-07-24 16:58] buckelieg opened #147 "Dead project?"

[2020-10-08 07:28] 616slayer616 commented on #147
I had severe "JAR hell" problems with this. So I created a "fork" and updated dependencies.
I would be happy to incorporate Pull-Requests. [https://github.com/616slayer616/closure-stylesheets](https://github.com/616slayer616/closure-stylesheets)

[2021-01-06 07:43] QiAnXinCodeSafe opened #149 "There is a vulnerability in Guava: Google Core Libraries for Java 20.0,upgrade recommended"
https://github.com/google/closure-stylesheets/blob/970d51e6fb45591e50c057b118e66a364957da42/pom.xml#L83

CVE-2018-10237 CVE-2020-8908
Recommended upgrade version：
24.1.1.jre

[2021-04-08 13:25] vbresan commented on #128
Have you managed to resolve the problem? I have similar error reported for `text-size-adjust`.

However, since you never got the answer and it looks like the project is no longer maintained ... perhaps you switched to another fork?

[2021-04-08 13:29] vbresan opened #150 "text-size-adjust is an unrecognized property"
I am receiving the error on the following code block:

[code]

`text-size-adjust` is a valid CSS property.

[2021-04-08 14:54] vbresan commented on #128
Problem 'solved' by using `--allow-unrecognized-properties` flag.

[2021-08-17 16:11] paulirish commented on #147
Looks it like to me. :/